.container {
    // background-color: black;
    border-radius: 5px;

    .mobile-toggle {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 1rem;
        left: 0.5rem;
        z-index: 50;
        background: #1f2937;
        color: #f97316;
        border: none;
        padding: 0.5rem 1rem;
        font-size: 1.5rem;
        border-radius: 0.375rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
        cursor: pointer;
    }

    .top {
        background: linear-gradient(to right, rgba(249, 115, 22, 0.2), transparent);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 2rem;
        border-radius: 10px;

        .left-side {
            display: flex;
            gap: 1rem;

            .profile-img {
                height: 8rem;
                border-radius: 50%;
                border: #fff 5px solid;
            }

            .actions {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                color: #fff;

                .members {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    gap: 1rem;

                    .followers {
                        display: flex;
                        align-items: center;
                        gap: 5px;
                    }

                    .followings {
                        display: flex;
                        align-items: center;
                        gap: 5px;
                    }
                }
            }
        }

        .right-side {
            display: flex;
            align-items: flex-end;
            gap: 8px;
            padding: 12px;
            border-radius: 8px;

            .edit-btn {
                display: flex;
                align-items: center;
                gap: 1rem;
                padding: 6px 12px;
                background: linear-gradient(to right, #ff4e50, #f9d423);
                border: none;
                border-radius: 4px;
                color: #333;
                padding: 1rem;
                cursor: pointer;
                font-size: 1rem;
            }

            .edit-btn:hover {
                transform: scale(1.05);
            }
        }
    }

    .bottom {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .cards {
            display: flex;
            gap: 1rem;
            flex-wrap: wrap;

            .card {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: #111827;
                backdrop-filter: blur(10px);
                border-radius: 0.5rem;
                padding: 2rem;
                flex: 1 1 0;
                max-width: 350px;
                margin: 0 auto;

                .card-header {
                    margin: 0;
                    padding: 0;
                    color: #f97316;
                    font-size: 3rem;
                }

                .card-title {
                    color: #aaa;
                }

                .card-header-f {
                    margin: 0;
                    padding: 0;
                    color: #ff4e50;
                    font-size: 3rem;
                }

                .card-header-p {
                    margin: 0;
                    padding: 0;
                    color: #ff4e50;
                    font-size: 3rem;
                }
            }
        }
    }
}

:host ::ng-deep .custom-tab-group {
    // background: #111827;
    border: 1px solid #1f2937;
    border-radius: 8px;
    width: 100%;

    .audio-cards {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
    }

    .mat-mdc-tab-label-container {
        //   background: transparent;
        color: #aaa;
    }

    .mat-mdc-tab-list {
        //   display: grid;
        //   grid-template-columns: repeat(3, 1fr);
    }

    .mat-mdc-tab {
        justify-content: center;
        align-items: center;
        padding: 1rem 0;
        font-weight: 500;
        background-color: #aaa;
        transition: background 0.25s;
        color: #aaa !important;
        border-radius: 0.375rem;
    }

    .mat-mdc-tab.mdc-tab--active {
        background: #f97316;
        color: #000 !important;
        border-radius: 0.375rem;
    }

    .mdc-tab-indicator {
        display: none;
    }
}

.no-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;

    .heading {
        background: linear-gradient(to right, white, #f97316, #dc2626);
        font-size: 3rem;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .explore-btn {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 6px 12px;
        background: linear-gradient(to right, #ff4e50, #f9d423);
        border: none;
        border-radius: 4px;
        color: #333;
        padding: 1rem;
        cursor: pointer;
        font-size: 1rem;
    }
}