<section class="container">
    <app-sidebar [isOpen]="isSidebarOpen" (toggle)="toggleSidebar()"></app-sidebar>

    @if (!isSidebarOpen) {
    <button #sidebarBtn class="mobile-toggle" (click)="toggleSidebar()">
        <svg viewBox="0 0 24 24" fill="currentColor">
            <path d="M3 12h18v2H3zm0-7h18v2H3zm0 14h18v2H3z" />
        </svg>
    </button>
    }
    @else {
    <button #sidebarBtn class="mobile-toggle" (click)="toggleSidebar()">
        <svg viewBox="0 0 24 24" fill="currentColor">
            <path
                d="M18.3 5.71a1 1 0 0 0-1.41 0L12 10.59 7.11 5.7a1 1 0 0 0-1.41 1.41L10.59 12l-4.9 4.89a1 1 0 1 0 1.41 1.41L12 13.41l4.89 4.9a1 1 0 0 0 1.41-1.41L13.41 12l4.9-4.89a1 1 0 0 0-.01-1.4z" />
        </svg>
    </button>
    }

    <div class="top">
        <div class="left-side">
            @if (loggedInUserSig && loggedInUserSig(); as user) {
            @if (user.profilePhotoUrl) {
            <img src="{{apiUrl + user.profilePhotoUrl}}" class="profile-img" alt="">
            }
            @else {
            <img src="images/member.png" class="profile-img" alt="">
            }
            }
            <div class="actions">
                <h1>Parsa Jafary</h1>
                <div class="members">
                    <div class="followers">
                        <img src="images/people.png" alt="">
                        <span>1000</span>
                        <span>followers</span>
                    </div>
                    <div class="followings">
                        <span>1000</span>
                        <span>followings</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-side">
            <button routerLink="/settings" class="edit-btn">
                <img src="images/edit.png" class="edit-img" alt="" height="20px">
                Edit Profile
            </button>
        </div>
    </div>
    <div class="bottom">
        <div class="cards">
            <div class="card tracks">
                <h3 class="card-header">23</h3>
                <p class="card-title">Tracks</p>
            </div>
            <div class="card">
                <h3 class="card-header-f">1000</h3>
                <p class="card-title">Followers</p>
            </div>
            <div class="card followings">
                <h3 class="card-header">1000</h3>
                <p class="card-title">Followings</p>
            </div>
            <div class="card plays">
                <h3 class="card-header-p">2000</h3>
                <p class="card-title">Total Plays</p>
            </div>
        </div>
        <div class="custom-tabs">
            <mat-tab-group class="custom-tab-group" mat-stretch-tabs="true" (selectedTabChange)="onTabChange($event)">
                <mat-tab label="{{myTracks}}">
                    <div class="audio-cards">
                        @if (audios && audios.length > 0) {
                        @for (audio of audios; track $index) {
                        <app-audio-card [audioInput]="audio" />
                        }
                        }
                        @else {
                        <div class="no-content">
                            <h3 class="heading">Jigar, go upload music</h3>
                            <button routerLink="/upload" class="explore-btn">Upload Music</button>
                        </div>
                        }
                    </div>
                </mat-tab>
                <mat-tab label="{{likings}}">
                    <div class="audio-cards">
                        @if (audios && audios.length > 0) {
                        @for (audio of audios; track $index) {
                        <app-audio-card [audioInput]="audio"
                            (dislikeAudioNameOut)="removeDislikeAudioFromAudios($event)" />
                        }
                        }
                        @else {
                        <div class="no-content">
                            <h3 class="heading">Jigar, go listen music</h3>
                            <button routerLink="/dashboard" class="explore-btn">Explore Music</button>
                        </div>
                        }
                    </div>
                </mat-tab>
                <mat-tab label="{{playlist}}">
                    <div class="audio-cards">
                        @if (audios && audios.length > 0) {
                        @for (audio of audios; track $index) {
                        <app-audio-card [audioInput]="audio" (removeAudioOut)="removeAudioFromPlaylist($event)" />
                        }
                        }
                        @else {
                        <div class="no-content">
                            <h3 class="heading">Your playlist is empty</h3>
                            <button routerLink="/dashboard" class="explore-btn">Explore Music</button>
                        </div>
                        }
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</section>