<section class="container">
    <app-sidebar [isOpen]="isSidebarOpen" (toggle)="toggleSidebar()"></app-sidebar>

    <button class="mobile-toggle" (click)="toggleSidebar()">
        ☰
    </button>

    <div class="top">
        <div class="left-side">
            <img src="images/member.png" class="profile-img" alt="">
            <div class="actions">
                <h1>Parsa Jafary</h1>
                <div class="members">
                    <div class="followers">
                        <img src="images/people.png" alt="">
                        <span>1000</span>
                        <span>followers</span>
                    </div>
                    <div class="followings">
                        <span>1000</span>
                        <span>followings</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-side">
            <button class="edit-btn">
                <img src="images/edit.png" class="edit-img" alt="" height="20px">
                Edit Profile
            </button>
        </div>
    </div>
    <div class="bottom">
        <div class="cards">
            <div class="card tracks">
                <h3 class="card-header">23</h3>
                <p class="card-title">Tracks</p>
            </div>
            <div class="card">
                <h3 class="card-header-f">1000</h3>
                <p class="card-title">Followers</p>
            </div>
            <div class="card followings">
                <h3 class="card-header">1000</h3>
                <p class="card-title">Followings</p>
            </div>
            <div class="card plays">
                <h3 class="card-header-p">2000</h3>
                <p class="card-title">Total Plays</p>
            </div>
        </div>
        <div class="custom-tabs">
            <mat-tab-group class="custom-tab-group" mat-stretch-tabs="true" (selectedTabChange)="onTabChange($event)">
                <mat-tab label="{{myTracks}}">
                    @if (audios && audios.length > 0) {
                        @for (audio of audios; track $index) {
                        <app-audio-card [audioInput]="audio" (dislikeAudioNameOut)="removeDislikeAudioFromAudios($event)" />
                        }
                        }
                        @else {
                        <div class="no-content">
                            <h3 class="heading">Jigar, go upload music</h3>
                            <button routerLink="/upload" class="explore-btn">Upload Music</button>
                        </div>
                        }
                </mat-tab>
                <mat-tab label="{{likings}}">
                    @if (audios && audios.length > 0) {
                    @for (audio of audios; track $index) {
                    <app-audio-card [audioInput]="audio" (dislikeAudioNameOut)="removeDislikeAudioFromAudios($event)" />
                    }
                    }
                    @else {
                    <div class="no-content">
                        <h3 class="heading">Jigar, go listen music</h3>
                        <button routerLink="/dashboard" class="explore-btn">Explore Music</button>
                    </div>
                    }
                </mat-tab>
                <mat-tab label="Playlists (0)">Playlists</mat-tab>
            </mat-tab-group>
        </div>
    </div>
</section>