<div class="audio-card">
  <div class="header">
    <div class="user-info">
      <!-- <img class="avatar" src="images/menu.png" alt="Avatar" /> -->
      <div>
        <h3 class="title">{{ audioInput?.fileName }}</h3>
        <p class="artist">{{ audioInput?.uploaderName }}</p>
      </div>
    </div>
    <span class="duration">3:45</span>
  </div>

  <div class="waveform" (click)="togglePlay()">
    <div class="play-button">
      @if (isPlaying()) {
      <button><mat-icon>pause</mat-icon></button>
      } @else {
      <button><mat-icon>play_arrow</mat-icon></button>
      }
    </div>

    <div class="bars">
      @for (bar of bars; track $index) {
      <div class="bar" [ngStyle]="{ height: bar + '%' }"></div>
      }
    </div>
  </div>
  <div class="action-btns">
    <div class="like-section">
      <button class="like-button" [ngClass]="{
      'text-red-500': audioInput?.isLiking,
      'text-gray-400': !audioInput?.isLiking
    }" (click)="audioInput?.isLiking ? dislike() : like()">
        <img [src]="audioInput?.isLiking ? 'images/favorite-red.png' : 'images/favorite.png'" alt="like"
          class="like-icon" />
        <span class="like-count">{{ count }}</span>
      </button>
    </div>

    <div class="add-section">
      <button class="add-button" [ngClass]="{
      'text-green-500': audioInput?.isAdding,
      'text-gray-400': !audioInput?.isAdding
    }" (click)="audioInput?.isAdding ? removeFromPlaylist() : addToPlaylist()">
        <img [src]="audioInput?.isAdding ? 'images/remove.png' : 'images/add.png'" alt="add" class="add-icon" />
        <span class="add-count">{{ adderCount }}</span>
      </button>
    </div>
  </div>

  <audio [src]="apiUrl + audioInput?.filePath" #audioElem></audio>
</div>