<section class="container">
    <button (click)="closedDialog()" class="close-btn">
        <svg viewBox="0 0 24 24" fill="currentColor">
            <path
                d="M18.3 5.71a1 1 0 0 0-1.41 0L12 10.59 7.11 5.7a1 1 0 0 0-1.41 1.42L10.59 12l-4.9 4.89a1 1 0 1 0 1.42 1.41L12 13.41l4.89 4.9a1 1 0 0 0 1.41-1.42L13.41 12l4.9-4.89a1 1 0 0 0-.01-1.4z" />
        </svg>
    </button>

    <div class="bg-layer">
        @if (audioData.coverPath) {
        <img [src]="apiUrl + audioData.coverPath.url_enlarged" alt="background cover" class="bg-image">
        }
        <div class="bg-gradient"></div>
    </div>
    <div class="content">
        <div class="top">
            @if (audioData.coverPath) {
            <img [src]="apiUrl + audioData.coverPath.url_165" [alt]="audioData.fileName" class="main-cover"
                crossorigin="anonymous" (load)="extractColors($event)">
            }
        </div>
    </div>
    <div class="bottom" [style.background]="dynamicGradient">
        <div class="top-side">
            <div class="audio-title">
                <h1 class="title">{{audioData.fileName}}</h1>
                <span class="uploader-name">{{audioData.uploaderName}}</span>
            </div>
            <div class="player-wrapper">
                <div class="progress-container">
                    <span class="time-text">{{currentTime()}}</span>
                    <div class="progress-bar-wrapper" (click)="seek($event)">
                        <div class="progress-bg"></div>
                        <div class="progress-fill" [style.width.%]="progressPercentage()"></div>
                    </div>
                    <span class="time-text">{{(audioData.duration || 0) * 1000 | date:'mm:ss':'UTC'}}</span>
                </div>

                <div class="main-controls">
                    <button class="control-btn sm" (click)="goToPreviousComp()">
                        <svg viewBox="0 0 24 24" fill="currentColor">
                            <rect x="6" y="5" width="2" height="14" rx="1"></rect>
                            <polygon points="18,5 10,12 18,19"></polygon>
                        </svg> </button>

                    <button class="play-btn-large" (click)="togglePlay();">
                        @if (isPlaying()) {
                        <svg viewBox="0 0 24 24" fill="currentColor">
                            <rect x="6" y="4" width="4" height="16" rx="1"></rect>
                            <rect x="14" y="4" width="4" height="16" rx="1"></rect>
                        </svg>
                        } @else {
                        <svg viewBox="0 0 24 24" fill="currentColor">
                            <polygon points="5,3 19,12 5,21"></polygon>
                        </svg>
                        }
                    </button>

                    <button class="control-btn sm" (click)="goToNextComp()">
                        <svg viewBox="0 0 24 24" fill="currentColor">
                            <polygon points="6,5 14,12 6,19"></polygon>
                            <rect x="16" y="5" width="2" height="14" rx="1"></rect>
                        </svg> </button>
                </div>

                <div class="meta-badges">
                    <div class="genres">
                        @for (genre of audioData.genres; track $index) {
                        <span class="badge highlight">{{genre}}</span>
                        }
                        @for (mood of audioData.moods; track $index) {
                        <span class="badge">{{mood}}</span>
                        }
                    </div>

                    <div class="hashtags">
                        @for (tag of audioData.tags; track $index) {
                        <span class="tag">{{tag}}</span>
                        }
                    </div>
                </div>

                @if (!isCommentSectionOpen) {

                <div class="action-footer">
                    <div class="action-item">
                        <button class="icon-btn like" (click)="audioData.isLiking ? dislike() : like()"
                            [class.active-like]="audioData.isLiking">

                            @if (audioData.isLiking) {
                            <svg viewBox="0 0 24 24" fill="currentColor">
                                <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5
                   2 5.42 4.42 3 7.5 3
                   9.24 3 10.91 3.81 12 5.08
                   13.09 3.81 14.76 3 16.5 3
                   19.58 3 22 5.42 22 8.5
                   22 12.28 18.6 15.36 13.45 19.99
                   z" />
                            </svg>
                            } @else {
                            <svg viewBox="0 0 24 24" fill="currentColor">
                                <path d="M16.5 3c-1.74 0-3.41.81-4.5 2.09
                   C10.91 3.81 9.24 3 7.5 3
                   4.42 3 2 5.42 2 8.5
                   2 12.28 5.4 15.36 10.55 19.99
                   L12 21.35l1.45-1.36C18.6 15.36 22 12.28 22 8.5
                   22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1
                   C7.14 14.24 4 11.39 4 8.5
                   4 6.5 5.5 5 7.5 5
                   c1.54 0 3.04 1.04 3.57 2.36h1.87
                   C13.46 6.04 14.96 5 16.5 5
                   18.5 5 20 6.5 20 8.5
                   c0 2.89-3.14 5.74-7.9 10.05z" />
                            </svg>
                            }
                        </button>
                        <span class="count">{{audioData.likersCount}}</span>
                    </div>

                    <div class="action-item">
                        <button (click)="toggleCommentSection()" class="icon-btn">
                            <svg viewBox="0 0 24 24" fill="currentColor">
                                <path d="M4 2h16a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H7l-5 5V4a2 2 0 0 1 2-2z" />
                            </svg>

                        </button>
                        <span class="label">Comments</span>
                    </div>

                    <div class="action-item">
                        <button class="icon-btn" (click)="audioData.isAdding ? removeFromPlaylist() : addToPlaylist()"
                            [class.active-add]="audioData.isAdding">

                            @if (audioData.isAdding) {
                            <svg viewBox="0 0 24 24" fill="currentColor">
                                <path d="M9 16.17L4.83 12l-1.41 1.41L9 
                   19 21 7l-1.41-1.41z" />
                            </svg>
                            } @else {
                            <svg viewBox="0 0 24 24" fill="currentColor">
                                <path d="M19 11H13V5h-2v6H5v2h6v6h2v-6h6z" />
                            </svg>
                            }
                        </button>
                        <span class="label">Save</span>
                    </div>

                    <div class="action-item">
                        <button class="icon-btn" (click)="shareAudio()">
                            <svg viewBox="0 0 24 24" fill="currentColor">
                                <path
                                    d="M18 16.08c-.76 0-1.44.3-1.96.77L8.91 12.7a3.27 3.27 0 0 0 0-1.39l7.02-4.11A2.99 2.99 0 1 0 15 5a3 3 0 0 0 .06.59L8.03 9.7a3 3 0 1 0 0 4.6l7.05 4.11c-.04.19-.08.39-.08.59a3 3 0 1 0 3-2.92z" />
                            </svg>
                        </button>
                        <span class="label">Share</span>
                    </div>
                </div>

                }

                @if (isCommentSectionOpen) {
                <div class="comment-section">
                    <button (click)="toggleCommentSection()" class="close-com">
                        <svg viewBox="0 0 24 24" fill="currentColor">
                            <path
                                d="M18.3 5.71a1 1 0 0 0-1.41 0L12 10.59 7.11 5.7a1 1 0 0 0-1.41 1.41L10.59 12l-4.9 4.89a1 1 0 1 0 1.41 1.41L12 13.41l4.89 4.9a1 1 0 0 0 1.41-1.41L13.41 12l4.9-4.89a1 1 0 0 0-.01-1.4z" />
                        </svg> </button>

                    <div class="action-section">
                        <input #inpEl (keydown)="onKeyDown($event)" class="comment-inp" type="text"
                            placeholder="add your comment..." [formControl]="ContentCtrl">
                        <button (click)="addComment()" class="action-btn">
                            Add Comment
                        </button>
                    </div>

                    <div #comContainer class="comments-container">
                        @for (comment of comments; track $index) {
                        <div class="comment-info">
                            <div class="left">
                                <div class="img-container">
                                    @if (comment.commentOwner.photo) {
                                    <img [src]="apiUrl + comment.commentOwner.photo.url_165" alt="">
                                    }
                                    @else {
                                    <img src="images/member.png" height="30px" alt="">
                                    }
                                </div>
                                <div class="info">
                                    <span class="username">{{comment.commentOwner.userName}}</span>
                                    <span class="com">{{comment.content}}</span>
                                </div>
                            </div>
                            <div class="right">
                                <span>{{comment.createdAt | intlRelativeTime}}</span>
                            </div>
                        </div>
                        }
                    </div>
                </div>
                }
            </div>
        </div>
        <div class="bottom-side">

        </div>
    </div>
</section>