<section class="audio-container">
    <div class="audios">
        @for (audio of audios; track $index) {
            <!-- <audio [src]="audio.fileDataBase64" controls></audio> -->
            <app-audio-card [audioInput]="audio"></app-audio-card>
          }
    </div>

    @if (pagination && audioParams) {
    <mat-paginator #paginator (page)="handlePageEvent($event)" [length]="pagination.totalItems"
        [pageSize]="audioParams.pageSize" [disabled]="false" [showFirstLastButtons]="true"
        [pageSizeOptions]="true ? pageSizeOptions : []" [hidePageSize]="false" [pageIndex]="audioParams.pageNumber - 1"
        aria-label="Select page" class="paginator">
        <!-- pageIndex must start from 0 -->
    </mat-paginator>
    }
</section>