<section class="container">
    <app-sidebar [isOpen]="isSidebarOpen" (toggle)="toggleSidebar()"></app-sidebar>


    @if (!isSidebarOpen) {
    <button class="mobile-toggle" (click)="toggleSidebar()">
        <mat-icon>menu</mat-icon>
    </button>
    }
    @else {
    <button class="mobile-toggle" (click)="toggleSidebar()">
        <mat-icon>close</mat-icon>
    </button>
    }
    
    <div class="top">
        <h1 class="settings">Settings</h1>
        <p class="details">Manage your account settings and preferences</p>
    </div>
    <div class="bottom">
        <div class="custom-tabs">
            <mat-tab-group class="custom-tab-group" mat-stretch-tabs="true">
                <mat-tab label="Profile">
                    <div class="container">
                        <div class="main-side">
                            <h1 class="info">Profile Information</h1>
                            <p class="text">Update your profile and how others see you</p>
                        </div>
                        <div class="bottom-side">
                            @if (loggedInUserSig && loggedInUserSig(); as user) {
                            <img src="{{apiUrl + user.profilePhotoUrl}}" class="profile-img" alt="">
                            }
                            @else {
                            <img src="images/member.png" class="profile-img" alt="">
                            }
                            <!-- <button class="photo-btn">
                                
                            </button> -->
                            <app-photo-editor [memberInput]="member"></app-photo-editor>
                        </div>
                        <div class="input-group">
                            <label for="email">Bio</label>
                            <input type="email" id="email" [formControl]="BioCtrl" placeholder="Enter your Bio" />
                            <div class="button-container">
                                <button type="submit" (click)="updateUser()" class="submit-button">Save Changes</button>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Notifications">
                    <div class="not-container">
                        <div class="not-top">
                            <h1>Notification Preferences</h1>
                            <p>Choose what notifications you want to receive</p>
                        </div>
                        <div class="content">
                            <div class="top-side">
                                <div class="email-not">
                                    <h1>Push Notifications</h1>
                                    <p>Receive push notifications in your browser</p>
                                </div>
                                <mat-slide-toggle class="orange-toggle" [checked]="checked" [disabled]="disabled">
                                </mat-slide-toggle>
                            </div>
                            <div class="top-side">
                                <div class="email-not">
                                    <h1>New Followers</h1>
                                    <p>When someone follows you</p>
                                </div>
                                <mat-slide-toggle class="orange-toggle" [checked]="checked" [disabled]="disabled">
                                </mat-slide-toggle>

                            </div>
                            <div class="top-side">
                                <div class="email-not">
                                    <h1>Track Likes</h1>
                                    <p>When someone likes your tracks</p>
                                </div>
                                <mat-slide-toggle class="orange-toggle" [checked]="checked" [disabled]="disabled">
                                </mat-slide-toggle>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Privacy">

                </mat-tab>
                <mat-tab label="Account">

                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</section>