.container {
  // background-color: black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;

  .mobile-toggle {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 1rem;
    left: 0.5rem;
    z-index: 50;
    background: #1f2937;
    color: #f97316;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    border-radius: 0.375rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
  }

  .top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .settings {
      margin: 0;
      font-size: 3rem;
      color: white;
    }

    .details {
      color: #aaa;
    }
  }
}

:host ::ng-deep .custom-tab-group {
  // background: #111827;
  border: 1px solid #1f2937;
  border-radius: 8px;
  width: 100%;

  .mat-mdc-tab-label-container {
    //   background: transparent;
    color: #aaa;
  }

  .mat-mdc-tab-list {
    //   display: grid;
    //   grid-template-columns: repeat(3, 1fr);
  }

  .mat-mdc-tab {
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    font-weight: 500;
    background-color: #aaa;
    transition: background 0.25s;
    color: #aaa !important;
    border-radius: 0.375rem;
  }

  .mat-mdc-tab.mdc-tab--active {
    background: #f97316;
    color: #000 !important;
    border-radius: 0.375rem;
  }

  .mdc-tab-indicator {
    display: none;
  }
}

.no-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;

  .heading {
    background: linear-gradient(to right, white, #f97316, #dc2626);
    font-size: 3rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .explore-btn {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 6px 12px;
    background: linear-gradient(to right, #ff4e50, #f9d423);
    border: none;
    border-radius: 4px;
    color: #333;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;

  .main-side {

    .info {
      color: white;
      font-size: 2rem;
      margin: 0;
    }

    .text {
      color: #aaa;
    }
  }

  .bottom-side {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;

    .photo-actions {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      
      .photo-text {
        margin-top: 1rem;
        font-size: 0.875rem;
        color: #9ca3af; 
      }
    }

    img {
      height: 8rem;
      border-radius: 50%
    }

    .upload-btn {
      display: flex;
      gap: 1rem;
      align-items: center;
      border: 1px solid #f97316;
      color: #f97316;
      cursor: pointer;
      padding: 10px;
      border-radius: 8px;

      .text-muted {
        font-size: 0.875rem;
      }

      &:hover {
        background-color: #f97316;
        color: #000;
      }
    }

    input[type=file] {
      display: none;
    }
  }

  .input-group {
    display: flex;
    flex-direction: column;

    label {
      color: #fff;
      font-size: 1.5rem;
      margin-bottom: 0.25rem;
    }

    input {
      background: rgba(31, 41, 55, 0.6); // gray-800/60
      border: 1px solid #374151; // gray-700
      border-radius: 0.375rem;
      padding: 0.75rem 3rem 0.75rem 1rem;
      color: #fff;
      font-size: 0.875rem;

      &::placeholder {
        color: #9ca3af;
      }

      &:focus {
        border-color: #f97316;
        outline: none;
      }
    }

    .button-container {
      display: flex;
      padding-top: 1rem;
      justify-content: flex-end;
      align-items: center;

      .submit-button {
        padding: 1rem;
        color: #f97316;
        border-radius: 4px;
        border: none;
        border: #f97316 solid 2px;
        cursor: pointer;
        background-color: white;
        font-weight: bold;

        &:hover {
          background-color: #f97316;
          color: white;
        }
      }
    }
  }
}

.not-container {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  gap: 1rem;

  .not-top {

    h1 {
      color: white;
      font-size: 2rem;
      margin: 0;
    }

    p {
      color: #aaa;
    }
  }

  .top-side {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .email-not {
      h1 {
        color: white;
        font-size: 1.3rem;
        margin: 0;
      }

      p {
        color: #aaa;
      }
    }
  }
}

:host ::ng-deep .orange-toggle.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: orange !important;
}

:host ::ng-deep .orange-toggle.mat-slide-toggle .mat-slide-toggle-thumb {
  background-color: #fff !important;
}

:host ::ng-deep .orange-toggle.mat-slide-toggle .mat-slide-toggle-bar {
  background-color: rgba(255, 165, 0, 0.3); // faded orange when off
}