<div class="container">
  <div class="logo-section" routerLink="">
    <img src="images/music.png" alt="" height="40px" width="40px">
    <span class="logo-text">SoundWave</span>
  </div>

  <div class="action-buttons">
    <ng-container *ngIf="loggedInUserSig && loggedInUserSig() as user; else loggedOutButtons">
      <button mat-mini-fab aria-label="User menu" class="user-menu-btn">
        @if (user.profilePhotoUrl) {
        <img class="top-avatar"  src="{{apiUrl + user.profilePhotoUrl}}" fill priority
          alt="{{user.userName[0]}}">
        <!-- // localhost:5000/storage/photo/sldkfjlsj92374.web -->
        } @else {
        <span>{{ user.userName[0] | titlecase }}</span>
        }
      </button>
    </ng-container>

    <ng-template #loggedOutButtons>
      <button mat-button routerLink="/account/login" class="login-button">Login</button>
    </ng-template>
  </div>
</div>
<mat-divider></mat-divider>