<div class="container">
  <div class="logo-section" routerLink="">
    <img src="images/music.png" alt="" height="40px" width="40px">
    <span class="logo-text">SoundWave</span>
  </div>

  <div class="action-buttons">
    <ng-container *ngIf="loggedInUserSig && loggedInUserSig() as user; else loggedOutButtons">
      <button mat-mini-fab aria-label="User menu" class="user-menu-btn">
        <span class="user-initial">{{ user.userName[0] | titlecase }}</span>
      </button>
    </ng-container>

    <ng-template #loggedOutButtons>
      <button mat-button routerLink="/account/login" class="login-button">Login</button>
      <button mat-raised-button class="get-started-button">Get Started</button>
    </ng-template>
  </div>
</div>
<mat-divider></mat-divider>