<div class="container">
  <div class="logo-section" routerLink="">
    <img src="images/music.png" alt="" height="40px" width="40px">
    <span class="logo-text">SoundWave</span>
  </div>

  <div class="action-buttons">
    <a routerLink="/account/login">
      <button mat-button routerLink="/account/login" class="login-button">Login</button>
    </a>
    <a routerLink="account/register">
      <button mat-raised-button class="get-started-button">Get Started</button>
    </a>
  </div>
</div>
<mat-divider></mat-divider>