<div class="sidebar" [class.closed]="!isOpen">
  <nav>
    <button class="nav-button" routerLink="/dashboard" routerLinkActive="active">
      <img src="images/home.png" alt="" height="30px">
      Home
    </button>
    <button class="nav-button" routerLink="/upload" routerLinkActive="active">
      <img src="images/upload.png" alt="" height="30px">
      Upload
    </button>
    <button class="nav-button" routerLink="/profile" routerLinkActive="active">
      <img src="images/profile.png" alt="" height="30px">
      Profile
    </button>
    <button class="nav-button" routerLink="/settings" routerLinkActive="active">
      <img src="images/setting.png" alt="" height="30px">
      Settings
    </button>
    <button class="nav-button" routerLink="/chat" routerLinkActive="active">
      <img src="images/setting.png" alt="" height="30px">
      AI Chat
    </button>
  </nav>

  <div class="logout">
    <button class="nav-button logout-btn" (click)="logout()">
      <svg viewBox="0 0 24 24" fill="currentColor">
        <path
          d="M16 13v-2H7V8l-5 4 5 4v-3h9zm3-10H11a2 2 0 0 0-2 2v4h2V5h8v14h-8v-4H9v4a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2z" />
      </svg>
      Logout
    </button>
  </div>
</div>