<div class="sidebar" [class.closed]="!isOpen">
  <nav>
    <button class="nav-button" routerLink="/dashboard" routerLinkActive="active">
      <img src="images/home.png" alt="" height="30px">
      Home
  </button>
    <button class="nav-button" routerLink="/upload" routerLinkActive="active">
      <img src="images/upload.png" alt="" height="30px">
      Upload
    </button>
    <button class="nav-button" routerLink="/profile" routerLinkActive="active">
      <img src="images/profile.png" alt="" height="30px">
      Profile
    </button>
    <button class="nav-button" routerLink="/settings" routerLinkActive="active">
      <img src="images/setting.png" alt="" height="30px">
      Settings
    </button>
  </nav>

  <div class="logout">
    <button class="nav-button logout-btn" (click)="logout()">
      <img src="images/logout.png" alt="">
      Logout
    </button>
  </div>
</div>